.carousel{
	display: flex;
	align-items: center;
	z-index: 10;
	position: relative;
}

.button {
	background-color: transparent;
}

.slider-buttons {
	background-color: transparent;
}

.dashboard-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.row {
	display: grid;
	grid-gap: 2rem;
	overflow: hidden;
	transition: transform 0.3s ease;
	object-fit: cover;
	grid-template-columns: auto auto auto auto ;
	scroll-behavior: smooth;
	padding: 1rem;
	border-radius: 20px;
	z-index: -1;
}

.row::-webkit-scrollbar {
	display: none;
}

.overlay{
	position: absolute;
	inset: 0;
	background-color: black;
	opacity: 0;
	transition: opacity .3s ease;
	display: grid;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.Slider {
	position: relative;
	width: 250px;
	height: 350px;
	margin-right: 1rem;
	border-radius: 8px;
	flex-shrink: 0;
}

.Slider:hover .overlay {
	border-radius: 20px;
	opacity: 0.8;
	transform: scale(1.2);
}

.dashboard {
	display: block;
	overflow: hidden;
}